@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black url(./img/back.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(255, 68, 0);
    text-shadow: 0px 5px 10px rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    font-style: italic;
    margin: 20vh auto;
    font-size: calc( 10vw + 20px);
}


#container-letras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.key {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.6em;
    color: white;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    border: 5px solid white;
    transition: 0.3s;
}

.active {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px orangered;
    border: 5px solid orangered;
    color: orangered;
    transition: 0.3s;
}
